<div class="h-full w-full">
  <!-- ページヘッダー -->
  <app-page-header [title]="'ツール一覧'"></app-page-header>
  <!-- タブコンテンツ -->
  <div class="pb-5">
    <app-tab-layout
      [tabs]="[
        {routerLink: '/tools/p1', label: 'URL取得確認'},
        {routerLink: '/tools/p2', label: '絵師検索確認'},
        {routerLink: '/tools/p3', label: 'タグ検索確認'},
        {routerLink: '/tools/p4', label: 'SQL実行'},
        {routerLink: '/tools/p5', label: 'DBバックアップ'}
      ]">
      <router-outlet></router-outlet>
    </app-tab-layout>
  </div>
</div>