<!-- サイドメニュー -->
<ng-template #sideMenuContent>
  <div class="p-4">
    <h3 class="label-sidemenu-title">ツールメニュー</h3>
    <ul class="space-y-2">
      特になし５
    </ul>
  </div>
</ng-template>

<!-- メインコンテンツ -->
<div class="h-full w-full">
  <div class="mb-4 flex items-center">
    <!-- バックアップボタン -->
    <button class="button-primary button-large" [disabled]="isExecute" (click)="execute()">DBバックアップ実行</button>
    <!-- 処理中スピナー -->
    @if(isExecute) {
      <div class="px-2">
        <app-spinner [size]="'16px'"></app-spinner>
      </div>
    }
  </div>
  <div class="space-y-4">
    <!-- エラー表示 -->
    <app-notification #notice></app-notification>
    <!-- バックアップリスト -->
    <app-content-spinner [showSpinner]="isLoading">
      <div class="overflow-x-auto">
        <app-flexible-table-desktop
          [data]="data"
          [thLabels]="labels"
          [styles]="styles"
          [forcefulColumns]="musts"
          [parentComponent]="this">
        </app-flexible-table-desktop>
      </div>
    </app-content-spinner>
  </div>
</div>